@charset "UTF-8";

*{
    font font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #3BB3F5, #BDE7FF);
}

main{
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px #1876a879;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1{
    color: #F4A137;
    text-align: center;
    text-shadow: 1px 1px 2px #f4a23791;

}

h2{
   color: #A87A3E;
}

p{
    text-align: justify;
}