@charset "UTC-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #17f9ff, #00b4fc);
}
main{
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px #17f7ff7a;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
h1{
    color: #001449;
    text-align: center;
    text-shadow: 1px 1px 2px #00134965;
}
h2{
    color: #012677;
}
p{
    text-align: justify;
}